main {
    margin-left: 200px;
    padding: 20px;
    height: 800px;
}

main .container {
    background-color: #0037af90;
    height: 800px
}

main .container h2 {
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 15px 5px 15px;
    font-size: 20px;
    filter: drop-shadow(1px 1px 1px #000000);
}

main .container .box {
    background-color: #ffffff80;
    margin: 10px 20px 20px 20px;
    height: 720px;
}

main .container .box h3 {
    color: #0037af;
    padding: 20px;
    margin: 20px 0 10px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    filter: drop-shadow(1px 1px 1px #ffffff);
}

/* main .container .box .contents {
    display: flex;
    justify-content: center;
} */

main .container .box .contents form {
    width: 100%;
}

main .container .box .contents .mv-details {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

main .container .box .contents .mv-details .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5px;
}

main .container .box .contents .mv-details .details label {
    margin: 5px 0;
}

main .container .box .contents .mv-details .details input, select {
    padding: 8px 15px;
    font-size: 15px;
}

main .container .box .contents .camera {
    display: flex;
    margin: 20px;
    height: 250px;
}

main .container .box .contents .camera .video-cam {
    width: 50%;
}

main .container .box .contents .camera .video-cam #video{
    height: 100%;
    width: 100%;
    margin: 0 10px 0 0;
}

main .container .box .contents .camera .image {
    display: flex;
    width: 50%;
    justify-content: center;
}

main .container .box .contents .camera .image img{
    margin: 0 0 0 10px;
    display: none;
}

main .container .box .contents .camera-btn {
    display: flex;
    justify-content: center;
    margin-top: -90px;
    margin-left: 20px;
    margin-right: 20px;
}

main .container .box .contents .camera-btn #capture-btn {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #0037af;
    border: 1px solid #0037af;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
}

main .container .box .contents .camera-btn #download-btn {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #0037af;
    border: 1px solid #0037af;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
}

main .container .box .contents .btn {
    margin: 60px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}

main .container .box .contents .btn .cancel-btn {
    padding: 10px 15px;
    background-color: #f10000;
    border: 1px solid #f10000;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
}

main .container .box .contents .btn .cancel-btn:hover {
    background-color: #c10000;
    border: 1px solid #c10000;
}

main .container .box .contents .btn .add-btn {
    padding: 10px 15px;
    background-color: #0037af;
    border: 1px solid #0037af;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
}

main .container .box .contents .btn .add-btn:hover {
    background-color: #002470;
    border: 1px solid #002470;
}

@media screen and (max-width: 1000px) {
    main {
        margin-left: 0px;
    }
}

@media screen and (max-width: 850px) {
    main {
        height: 1200px;
    }
    
    main .container {
        height: 1200px;
    }
    
    main .container .box {
        height: 1110px;
    }

    main .container .box .contents .camera {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .container .box .contents .camera .video-cam {
        margin: 10px;
    }
    
    main .container .box .contents .camera .video-cam #video{
        height: 100%;
        width: 100%;
        margin: 0;
    }

    main .container .box .contents .camera .image {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 10px;
    }
    
    main .container .box .contents .camera .image img{
        width: 50%;
        margin: 0;
    }

    main .container .box .contents .camera-btn {
        margin-top: -60px;
    }

    main .container .box .contents .btn {
        margin: 350px 20px 20px 20px;
    }
}

@media screen and (max-width: 800px) {
    main .container h2 {
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    main .container .box .contents .camera .video-cam {
        width: 60%;
    }

    main .container .box .contents .camera .image img{
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    main .container .box h3 {
        font-size: 14px;
    }

    main .container .box .contents .mv-details .details label {
        font-size: 14px;
    }
    
    main .container .box .contents .mv-details .details input,select {
        padding: 8px 15px;
        font-size: 14px;
    }

    main .container .box .contents .camera .video-cam {
        width: 100%;
    }

    main .container .box .contents .camera .image img{
        width: 100%;
    }

    main .container .box .contents .btn {
        margin: 460px 20px 20px 20px;
    }
}

@media screen and (max-width: 500px) {
    main {
        height: 1200px;
    }
    
    main .container {
        height: 1200px
    }
    
    main .container .box {
        height: 1120px;
    }

    main .container .box .contents .mv-details {
        flex-direction: column;
    }

    main .container .box .contents .mv-details .details {
        margin: 0px;
    }

    main .container .box .contents .camera-btn {
        margin-top: -100px;
        justify-content: space-between;
    }

    main .container .box .contents .btn {
        margin: 360px 20px 20px 20px;
    }
}

@media screen and (max-width: 400px) {
    main {
        height: 1100px;
    }
    
    main .container {
        height: 1100px
    }
    
    main .container .box {
        height: 1020px;
    }

    main .container .box .contents .camera-btn {
        margin-top: -100px;
    }

    main .container .box .contents .btn {
        margin: 250px 20px 20px 20px;
    }
}