main {
    padding: 20px;
    height: 800px;
}

main .container {
    background-color: #0037af90;
    height: 800px;
}

main .container h2 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 15px 5px 15px;
    font-size: 20px;
    filter: drop-shadow(1px 1px 1px #000000);
}

main .container .box {
    background-color: #ffffff;
    width: 50%;
    margin: 80px auto;
}

main .container .box h3 {
    color: #0037af;
    padding: 20px;
    margin: 20px 0 10px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

main .container .box .contents {
    display: flex;
    justify-content: center;
}

main .container .box .contents form {
    width: 100%;
}

main .container .box .contents .mv-details {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

main .container .box .contents .mv-details .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5px;
}

main .container .box .contents .mv-details .details .email {
    border: 1px solid black;
    display: flex;
    margin-bottom: 10px;
}

main .container .box .contents .mv-details .details .email input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
}

main .container .box .contents .mv-details .details .email button {
    border: none;
    background-color: #0037af;
    color: #ffffff;
    width: 110px;
    padding: 10px;
    font-weight: bolder;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

main .container .box .contents .mv-details .details .email button:hover {
    background-color: #002470;
}

main .container .box .contents .mv-details .details label {
    margin: 5px 0;
}

main .container .box .contents .mv-details .details input {
    padding: 8px 15px;
    font-size: 15px;
}

main .container .box .contents .mv-details .details .remarks {
    padding: 9px 15px;
}

main .container .box .contents .btn {
    margin: 40px 20px 20px 20px;
    text-align: end;
}

main .container .box .contents .btn .cancel-btn {
    padding: 10px 15px;
    background-color: #f10000;
    border: 1px solid #f10000;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
}

main .container .box .contents .btn .cancel-btn:hover {
    background-color: #c10000;
    border: 1px solid #c10000;
}

main .container .box .contents .btn .add-btn {
    padding: 10px 15px;
    background-color: #0037af;
    border: 1px solid #0037af;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
}

main .container .box .contents .btn .add-btn:hover {
    background-color: #002470;
    border: 1px solid #002470;
}